/* dashboard */
.spanCss{
    padding: 5px;
    margin: 0px 10px;
}

#pricing-add{
    display: none;
}
#pricing-sub{
    display: none;
}
#pricing-alert{
    font-weight: bold;
}

.img-responsive{
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    min-height: 300px;
}
/* input[type="file"] {
    display: none;
} */
input[type=file]::file-selector-button {
    border: transparent;
    border-right: 1px solid #ccc;
    height: 100%;
    /* padding: .2em .4em; */
    /* border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: red;
    transition: 1s; */
  }
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}
.uploadUL{
    margin-bottom: 0;
}
.uploadLI{
    font-size: 1em;
    font-weight: 300;
}
.fileFormImg{
    font-size: 3em;
}
#fileForm{
    /* width: 50%; */
    background-color: white;
    margin: auto;
    display:flex;
    justify-content: center;    
    border: 2px dashed #ccc;
    border-radius: 8px;
    max-height: 500px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.success{
    font-weight: 800;
    color:#0b9e0b;
}
._homeLI{
    font-size: 1.1em;
    font-weight: 300;
}
._ulStar{
    color: rgb(255, 244, 3);
    text-shadow: rgb(121 6 59) 1px 1px;
    margin-right: 5px;    
}
._div2{
    display: flex;
    flex-direction:  column;
    justify-content:  center;
    align-items: center;
}
.logout-btn{
    font-size: 12px;
    font-weight: bold;  
    text-decoration: none;
    background-color: transparent;
    display: block;
    color: white;
    margin-right: 6px;
    padding: 0px;
    text-shadow: grey 1px 1px;  
    border: none;
    outline: none;
}
.dashMainTodos{
    font-size: 1rem;
    font-weight: bold;
}  
.businessIcons{
    height: 65px;
    margin: 15px auto;
    display: block;
}
.main_sub_div, #_searchPicDiv, #landing_sub_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.businessCardDiv{
    display:flex;   
    /* flex-direction: column; */
    justify-content: space-between;
}
.businessPageCard{
    border-radius:0.5rem;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 10px #a09e9e;
    box-shadow: 0 0 10px #a09e9e;
    width: 30%;
    padding: 20px;
}
#businessSubHeader1, #businessSubHeader2, #businessSubHeader3{ 
    font-family: "Bebas Neue", cursive;
    letter-spacing: 4px;
    font-style: italic;
    font-weight: 800;
    margin: 0px;
    font-size: 2em;
}
#businessSubHeader3{
    width: 95%;
    margin: auto;
}
#landingPageCol2{
    display: flex;
}
#_tabletPic{
    height: auto;   
    width: 100%;
}
#_membersUl{
    list-style-type: none;
    padding-left:0;
}
.smallSubHeader{
    color:red;
    width: 60%;
    padding-top: 20px;
}
/* text-shadow: rgb(54 4 134) 1px 1px;
    font-size: 1.1em;
    color: white; */
.businessSubHeader1{ 
    font-family: "Bebas Neue", cursive;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px;
}
#_mobilePhone{
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}
.logoFont{
    /* color: #09b2e1; */
    /* font-style: italic; */
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px white;
    /* text-decoration: underline; */
}
.dashboard-nav{
    /* margin-top: 20px;
    margin-left: 10px; */
    /* display:inline-block; */
    display:flex;
    flex-direction:column;  
}
.dashMainHeader{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.highlight-arrow{
    font-weight:bold;
    font-size: 20px;
}

.dashPage{
    background-color: rgb(240 243 244);
    /* min-height:600px; */
    min-height:100%;

}

.dash-form-group{
    font-weight: bold;
    position: relative;
}
.input-w-error{
    padding-right: 30px;
}
.error-icon{
    color:red;
    position: absolute;
    top: 43px;
    right: 10px;
    opacity: 0;
}
.error{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.error-input-zip{
    text-align: left;
    color: red;
    font-size: 1em;
    /* font-weight: bold; */
}
.error-zip{
    background-color: white;

    color: red;
    /* background-color: red; */
    padding: 5px;
    /* color: #fff403; */
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 3px;
    z-index: 100;
    right: 42px;
    width: 158px;
}
.progress-bar{
    font-weight:bold;
    font-size: 1rem;
    text-shadow: 1px 1px blue;
}

#defaultNavLogo{
    display: block;
    margin: auto;
    height: 100%;
    width: 18rem;
}

.dashNavUL{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}
.dash_business_form{
    text-align: center;
}
.dashNavCol{
    border-right: 1px solid #bcc7fc;
    position: relative;
    width: 100%;
    z-index: 100;
}

#loadSize2, #dryerPrice, #perMinute{
    text-align: center;
}
#loadSize2{
    min-width: 30%;
}
.input-group-text{
    font-weight: 600;
}
.btn-custom{
    border: 1px solid #474444;
    text-shadow: 1px 1px black;
}
.btn-custom1{
    border: 1px solid #827f7f;
    text-shadow: 1px 1px black;
}

#_landingPageUl{
    list-style-type: none;  
    padding-left: 0;
    margin: 20px 10px;
}

.busPage-sub-header {
    font-family: 'Bebas Neue';
    font-weight: 600;
    color: #ff1a00;
    text-shadow: 0px 0px 2px #ffd900, 1px 1px #2400ff;
    letter-spacing: 2px;
}
.dashHeaders{
    color:black;
    font-weight:bold;
}
.dashCardHeader{
    text-shadow: 1px 1px black;
}
.dashInput{
    box-shadow: rgb(56, 56, 56) 0px 0px 5px;
}
.dashboardCol{
    padding: 0px 5px 0px 5px;
    margin-top: 20px;
}
.dashboard-link{
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}
svg.dashIcon{
    font-size: 1.1rem;
    margin-right: 8px;
}

.dashboardInput{
    margin-top: 20px;
}
.dryCleanIcon{
    font-size: 100%;
}
.dryCleanIconDiv{
    width: 20%;
    min-height: 48px;
    position: relative;
    background-color: rgba(0,0,0,.03);
    border-left: 1px solid #b2aeab;
    border-right: 1px solid #b2aeab;
    border-radius: 0;
}
.dryCleanLabel{
    width: 40%;
}

.redX{
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px #3f3e3e;
    margin-left: 5px;
}
button.link-buttons.toDoBtn{
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
}
.iconCategory{
    display: block;
}

.dryCleanListCard{
    flex-direction: row;
    border-right: 1px solid #ccc7c3;
    border-bottom: 1px solid #b2aeab;
    border-top: 1px solid #b2aeab;
}


#inputPriceGroup{
    width: 100%;
    margin: auto;  
}

.laundryInput{
    position: relative;
    padding: .1rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.sideCaptions{
    font-size: 1em;
    font-weight: 700;
    color: #201f1f;
}
.dashFormSide{
    list-style-type: none;
    padding: 0px;
}


#day{
    padding:.1rem;
    width: 10px;
}
#dryerPrice{
    padding:.2rem;
}
#perMinute{
    padding:.5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
._verify{
    background-color: #ffff00a3;
    margin-right: -15px;
    margin-left: -15px;
}
._verify:hover {
    background-color: yellow;
}

.option-icon{
    color:red;
    height: 50px;
    margin-bottom:10px;
}

.option-title{
    text-align: center;
    font-weight: 500;
}
.option-container{
    margin: 5px 10px;
    min-height:100px;
    box-shadow: 0 0 7px #ccc;
}
.highlightCard{
    box-shadow: black 0px 0px 3px;
    margin: 5px 10px;
    min-height:295px;
}
.highlight-btn{
    border-radius:0;
}

.optionUl{
    list-style-type: none;
    padding:0px;
}
.deliveryFeeInput{
    margin: 5px 3px 0px 3px;
    height: 100%;
}
.delivery-fee-col{
    border-right: 1px solid #8c8a8a;
    padding-right: 2px;
}

.li-p, ._registerBtn{
    margin-bottom: 0px;
    margin-top:10px;
    font-size: 18px;
}
.laundry-li-p{
    margin-bottom: 0px;
    margin-top:10px;
    font-size: 16.5px;
}
.options-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.options-div1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.deliveryPar{
    font-weight: 600;
    width: 11rem;
    text-align: left;
}
.options-div2{
    display:flex;
    align-items: center;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.log-btns{
    font-size: 12px;
    font-weight: bold;
}
.log-btn-link{
    color:white;
    margin-right: 6px;
    padding:0
}

.link-buttons{
    background: none!important;
    border: none;
    padding: 0!important;
    display: inline-block;
    font-family: arial, sans-serif;
    margin-right: 3px;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
.link-buttons:focus {
    outline: none;
}

.link-buttons:hover{
    color: rgb(6, 53, 77);
    
}

.dashCentered{
    margin: 0;
    /* position: absolute; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-home{
    height: 430px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
.aboutCardHeader{
    font-weight: bold;
    color: rgb(9, 178, 225);
    text-shadow: 1px 1px black;
}
.aboutCard{
    width: 90%;
    margin: auto;
    box-shadow: rgb(0 0 0) 0px 0px 4px;
}
.aboutSideCaption{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutIcon{
    font-size: 3.9em;
    margin: auto;
}

.aboutPage{
    min-height: 600px;
}
._inputBorder{
    border: 1px solid #616263;
}
#home_landingPage, #home_landingPage2{
    width: 100%;
    object-fit: cover;
    z-index: 100;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px #ccc;
}

._landingPageLi{
    font-weight: 300;
}

.login-register-page{
    background-image: url("../images/background2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;  
    margin:0;
    height:100%;    
    display: flex;
    align-items: center;
    min-height: 47vh;
}

.login-register-card{
    box-shadow: 0 0 5px 2px #4d4d4b;
    background-color:#dcdcee;
    font-weight: 500;
    margin: 20px auto;
}


.business-info-background{
    box-shadow: 0 0 8px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/mock-site-placeholder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

#homeLogo{
    height: 100px;
    position: relative;
    top: -15px;
}
#greenLight, #redLight{
    border: 1px solid black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #0bfa0b;
}
#main-header-text{
    font-family: "Bebas Neue", cursive;
    letter-spacing: 4px;
    font-style: italic;
    font-weight: 800;
    font-size: 4em;
    margin: 0px;
    color: #fff403;
    text-shadow: 2px 2px 1px #121d7f, 1px 1px 10px rgb(8 49 255);
}
.mainBusinessHeader{
    font-family: "Bebas Neue", cursive;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 800;
    font-size: 4em;
    margin: 0px;
    color: #fff403;
    text-shadow: 2px 2px 1px #121d7f, 1px 1px 10px rgb(8 49 255);
    font-size: 2.5em;
    /* width: 80%; */

}

._businessSubHeader{
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.25rem;
    /* text-shadow: rgb(121 6 59) 1px 1px;  */
    text-shadow: 1px 1px 1px #121d7f, 1px 1px 10px rgb(121 6 59);

    color: white;

}

#featureList{
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 800;
    color: #fffefe;
    text-shadow: 1px 1px 2px rgb(255, 3, 3), 1px 1px 3px black;
}
/* html, body{
    margin: 0;
    height:1000px;
} */
/* html{
    overflow-y: auto;
}  */
.editBtn{
    margin-top: 25px;
}

::-webkit-scrollbar { 
    z-index: 100; 
}
.main-card{
    box-shadow: 0 0 10px #3c559e;
    border:1px solid rgb(48, 47, 47);
    height: 100%;
    padding: 10px; 
    background-color:rgb(236 235 235);
}
.home-card{
    height: 100%;
    margin: auto;
    box-shadow: 0 0 10px #8796c2;
    border:1px solid rgb(75 74 74);
}
.searchCard{
    box-shadow: 0 2px 18px #00000026;
    margin: auto;

}
.searchBarForm{
    height: 42px;
}
.profileLinkText{
    color: rgb(75, 63, 42);
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    margin-right: 10px;
}
.formLabel, .searchFormLabel{
    background-color:white; 
    font-size:110%;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* margin-top: 5px; */
    /* margin-bottom:0; */
    font-weight: bold;
    color: rgb(20, 19, 18);
}
.searchFormLabel{
    margin-bottom: 0;
}
.formLabel{
    height: 31px;
}

button#submit{
    /* border-left: 1px solid black; */
    color: #2d2c2c;
    width: 35px;
        /* position: relative; */
    background-color: rgb(250, 3, 3);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

}

#search_submit{
    /* border-left: 1px solid black; */
    color: #2d2c2c;
        /* position: relative; */
    background-color: rgb(250, 3, 3);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

}
#zipCode{
    text-align: center;
}

#zipCode, #category, #search_zipCode, #search_category{
    margin: 0px 10px;
}
#zipCode, #category, #submit, #search_submit, #search_zipCode, #search_category{
    border:none; 
    font-size:110%; 
    height: 100%;
}

#zipCode, #search_zipCode {
    width: 90px;
}
.home-mid-header{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px auto;
}
.manageLink{
    color: yellow;
    margin-right: 15px;
    padding: 0;
    text-shadow: 1px 1px #7f7d7d; 
    font-weight: bold;
}
.nav-signup-btn{
    font-size: 12px;
    margin: 5px 0px 5px 5px;
    font-weight: bold;
}
._freeBusinessHeader{
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 800;
    font-size:  2.5em;
    /* font-size: 4em;
    margin: 0px; */
    color: #fff403;
    text-shadow: 2px 2px 1px #121d7f, 1px 1px 1px rgb(8 49 255);
}
.home-about-card{
    box-shadow: 0 0 8px #ccc;

}
.home-about-card-body{
    padding: 10px 15px 15px 15px;
    min-height: 130px;
}
.home-about-col{
    padding: 0px 10px;
}

.home-about-card-title{
    margin-top: 3px;
    margin-bottom: 8px;
    font-family: impact;
}
.home-business-info{
    margin-bottom: 30px;
}
.home-business-btn{
    width: 45%; 
    margin: 0px auto;
    /* background-color: red; */
    font-weight: bold;
    color: white;
}
.search-modal-card{
    z-index: 100;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 4px yellow;
    /* box-shadow: 0 0 8px rgb(72, 93, 211); */

}

.modalStyle{
    height: 30px;
    padding: 2px;
    position: absolute; 
    margin-left: 2px;
    background-color: pink;
    text-align: center;
    display: inline-block;
}
.errorStyle{
    color: red; 
    display: inline-block;
}
.notFound{
    font-family: fantasy;
    font-weight: bold;
    color: white;
    font-size: 6rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px #2331ad, 1px 1px 10px rgb(8 49 255);
    margin:0px;
}

.notFountSub{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: serif;
    text-shadow: 1px 1px #797878;
}

@media screen and (max-width: 333px) {
    #main-home{
        height:350px;
    }
}
@media screen and (max-width: 352px) {
   .summary_delivery{
       padding: 5px;
   }
   .col-form-label {
       font-size: .9rem;
   }
}
@media screen and (max-width: 424px) {
    #featureList{
        display: none;
    }   
}
@media screen and (min-width: 424px) and (max-width: 767px){
    ._homeUL{
        margin-top: 52px;
        margin-bottom: .8em;
    }
    ._freeBusinessHeader{
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        top: -10px;
        width: 91vw;
    }
    .home-business-btn{
        width: 35%;
        padding: 5px;
        margin-left: 15vw;
    }
}


@media screen and (min-width: 498px) and (max-width: 574px){
    #zipCode{
        width: 73px;
        font-size: .95em;
        text-align: left;
    }

    #featureList{
        font-size: .7em;
    }
    #main-header-text{
        font-size: 3.35em;
    }
    .main-card{
        padding: 8px;
    }
    #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: -106px;
        width: 327px;
    }

    #_membersDivInner{
        position: absolute;
        top: 152px;
        right: -98px;
        width: 319px;
    }
    
}

@media screen and (min-width: 424px) and (max-width: 497px){
    #_mobilePhone{
        height: 255px;
        margin-top: 15px;
        
    }
    .dash_btn{
        font-size: 10px;
        height: 100%;
    }
    
    .input-group-text{
        font-weight: normal;
        font-size: 13px;
        padding: 0.25rem;

    }
    #_membersHeaderDiv{
        font-size: 18px;
    }
    ._freeBusinessHeader{
        font-size: 2rem;
    }
    .main-card{
        padding: 5px;
    }
    #main-header-text{
        font-size: 2em;
    }
    #zipCode{
        width: 15vw;
        margin-left: 0px;
    }
    #category{
        margin-left: 0px;
    }
    /* #_membersUl{

    } */
}
@media screen and (max-width: 423px){
    .summary_delivery{
        font-size: .9rem;
    }
    .custom-file-upload, #file-upload{
        font-size: .7rem;
    }
    #fileForm{
        justify-content: center;
    }
    .dash_btn{
        font-size: 10px;
        padding: 0.375rem 0.5rem;
        height: 100%;
    }
    .dash_business_form{
        text-align: left;
        padding:0px;
    }
    
    .input-group-text{
        font-weight: normal;
        font-size: 13px;
        padding: 0.25rem;

    }
    .mainBusinessHeader{
        font-size: 1.4em;
        letter-spacing: 0.037rem;
    }
    ._registerBtn{
        font-size:14px;
    }
    .img-responsive {
        position: relative;
        top: 39px;
        right: 17px;
        height: 167px;      
        min-height:0%;
        width: auto;
    } 
    ._headerTextDiv{
        padding-left: 8px;
        padding-right: 0px;
    }
    #_searchPicDiv{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    #businessSubHeader1{
        width: 90%;
        margin:auto;
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    .smallSubHeader{
        font-weight: 500;
        font-size: .9em;
        width: 90%;
        margin:auto;

    }
    .businessPageCard{
        width: 100%;
    }
    
    .businessCardDiv{
        flex-direction:column;
    }
    .log-btn-link{
        margin-right: 3px;
    }
    ._freeBusinessHeader{
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        font-size: 1.5rem;
        /* color: #736dd8;     */
    }
    ._about{
        font-size: 1rem;
    }
    ._homeUL{
        margin-bottom: 1.5em;
        padding-left: 40px;
    }
    ._homeLI{
        font-size: 3.7vw;
    } 
    .main-card{
        padding: 3px;
    }
    #main-header-text{
        font-size: 1.9em;
    }
    #zipCode{
        width: 16vw;
        margin-left: 0px;
    }
    #category{
        margin-left: 0px;
        margin-right: 0px;
    }
    .manageLink{
        font-size: .8em;
        margin-right: 8px;
    }
    .nav-signup-btn{
        padding: -0.625rem 0.75rem;
    }
    .log-btns{
        font-size: 11px;
        font-weight: 600;
    }
    ._div2{
        margin: auto;
        padding: 0;
    }
    #home_landingPage, ._div1{
        display:none;
    }
    .home-business-btn{
        display: block;
        /* width: 100%; */
        margin: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 498px) and (max-width: 530px){
    #businessSubHeader2{
        font-size: 1.1em;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 497px){
    #businessSubHeader2{
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    ._landingPageLi{
        font-size: 1.15em;
    }
    .registerBtn{
        display:inline-block;
        /* width: 100%; */
    }
    #landingPageCol{
        margin: auto;
        min-width: 70vw;
    }
    .spanCss{
        margin: 2px;
        padding: 2px;
        font-size: 15px;
    }
    ._ulStar{
        /* color: rgb(220, 53, 69); */
        color: rgb(255 38 19)
    }
    #businessSubHeader3{
        width: 91vw;
        text-align: center;
        margin: 0;
    }
    ._membersDiv{
        padding:0;
    }
    .busPage-sub-header{
        width: 100vw;
        text-align: center;
        visibility: hidden;
    }
    #_membersUl{
        margin:auto;
    }
    #_tabletPic, #_mobilePhone, ._membersPicDiv, #landingPageCol2{
        display: none;
    }
     
    #homeLogo{
        height: 80px;
    }
   
    #search_zipCode{
        width: 20vw;
    }
    #category, #zipCode{
        font-size: 13px;
    }
    .home-mid-header {
        font-size: 1.2rem;
    }
    #search_zipCode, #search_category, #submit, #search_submit{
        font-size:15px;
    }
}


@media screen and (min-width: 1165px){
    .modalStyle{
        margin-top: 5px;
    }
}

@media screen and (max-width: 1164px){
    .modalStyle{ 
        margin-top:1px;
    }
}
@media screen and (max-width: 1070px){
    .error-zip{
        top: 6px;
        padding: 2px;
        right: 37px;
        width: 147px;
    }
}
@media screen and (min-width: 334px) and (max-width: 403px){
    #main-home{
        height:330px;
    }
}
@media screen and (min-width: 404px) and (max-width: 498px){
    #main-home{
        height:320px;
    }
}

/* @media screen and (min-width: 498px) and (max-width: 574px){
    #featureList{
        font-size: 100%;
    }
} */

@media screen and (min-width: 574px) and (max-width: 650px){
    #featureList{
        font-size: .8em;
    }  
}

@media screen and (min-width: 425px) and (max-width: 498px){
    #featureList{
        font-size: .6em;
    }
}

@media screen and (max-width: 1117px){
    li.nav-item>a{
        font-size: 1.04rem;    }
}
@media screen and (max-width: 991px){
    .highlight-btn{
        padding: 5px;
    }
    .highlight-arrow{
        font-weight:100;
        font-size: 1rem;
    }
}
@media screen and (min-width: 1059px) and (max-width: 1134px){
    .highlight-btn{
        padding: 5px;
    }
    .option-title{
        font-size: .95em;
    }
    .highlight-arrow{
        font-size: 1.2em;
    }
    .option-body{
        padding: 1.25rem 0.5rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 1058px){
    .highlight-btn{
        padding: 3px;
    }
    .option-title{
        font-size: .9em;
    }
    /* .highlight-arrow{
        font-size: 1em;
    } */
    .option-body{
        padding: 1.25rem 0.5rem;
    }
}

@media screen and (max-width: 891px){
    .highlight-btn{
        padding: 3px;
    }
   
    .option-title{
        font-size: .9em;
    }
    /* .highlight-arrow{
        font-size: 1em;
    } */
    .option-body{
        padding: 1.25rem 0.5rem;
    }
}



@media screen and (min-width: 1189px) and (max-width: 1345px){
    /* .li-p{
        background-color:red;
    } */
    select#day.form-control, select#open.form-control, select#close.form-control{
        padding: 0px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1188px){
    select#day.form-control, select#open.form-control, select#close.form-control{
        padding: 0px;
    }
    .deliveryHoursBtn{
        padding: 5px;
    }
    
    #day{
        max-width: 55px;
    }
    
}
@media screen and (min-width: 991px) and (max-width: 1110px){
    .deliveryPar{
        width: 9rem;
    }
    /* #main-header-text{
        display:none;
    } */
    
}
@media screen and (min-width: 991px){
    
    .priceGroup1{
        padding-right: 1px;
    }
    .priceGroup2{
        padding-left: 1px;
    }
}


/* // busines page // */
/* // busines page // */
/* // busines page // */
/* // busines page // */

@media screen and (min-width: 1210px) and (max-width: 1281px){
    .mainBusinessHeader{
        font-size: 2.3em;
    }
   
}
@media screen and (min-width: 1138px) and (max-width: 1209px){
    .mainBusinessHeader{
        letter-spacing: 1px;
    }

}
@media screen and (min-width: 1060px) and (max-width: 1137px){
    .mainBusinessHeader{
        letter-spacing: 1px;
        font-size: 2.3em;
    }
}
@media screen and (min-width: 1103px) and (max-width: 1209px){
    #businessSubHeader1, #businessSubHeader2, #businessSubHeader3{
        font-size: 1.8em;
    }
    .smallSubHeader{
        width: 100%;
    }
}
@media screen and (min-width: 872px) and (max-width: 1005px){
    #_membersUl{
        font-size: .85em;
    }
}

@media screen and (min-width: 833px) and (max-width: 871px){
    #_membersUl{
        font-size: .85em;
    }
    ._membersDiv{
        padding-left: 2px;
    }
    ._membersPicDiv{
        padding-left:2px;
        padding-right: 2px;
    }
}
@media screen and (min-width: 768px) and (max-width: 832px){
    #_membersUl{
        font-size: .8em;
    }
    ._membersDiv{
        padding-left: 0px;
    }
    ._membersPicDiv{
        padding-left:0px;
        padding-right: 0px;
    }
}
@media screen and (min-width: 972px) and (max-width: 1174px){
    .dashMainTodos{
        font-size: .9rem;
        font-weight: 500;
    }
    button.link-buttons.toDoBtn{
        font-size: .75rem;
    }
    .redX{
        margin-left: 2px;
    }
}
@media screen and (max-width: 971px){
    .options-div1{
        flex-direction: column;
    }
    .dashMainTodos{
        font-size: 1rem;
        font-weight: 600;
    }
    button.link-buttons.toDoBtn{
        font-size: .85rem;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 689px) and (max-width: 767px){
    #_membersUl{
        font-size: .8em;
    }
    #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: 22px;
        width: 327px;
    }

    #_membersDivInner{
        position: absolute;
        top: 152px;
        right: 22px;
        width: 319px;
    }
}

@media screen and (min-width: 628px) and (max-width: 688px){
    #_membersUl{
        font-size: .8em;
    }
    #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: -25px;
        width: 327px;
    }

    #_membersDivInner{
        position: absolute;
        top: 152px;
        right: -25px;
        width: 319px;
    }
}
@media screen and (min-width: 575px) and (max-width: 627px){
    #_membersUl{
        font-size: .8em;
    }
    #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: -65px;
        width: 327px;
    }

    #_membersDivInner{
        position: absolute;
        top: 152px;
        right: -57px;
        width: 319px;
    }
    #businessSubHeader3{
        width: 90%; 
        margin: 0px;
        font-size: 1em;
    }
}
@media screen and (min-width: 498px) and (max-width: 574px){
    #_membersUl{
        font-size: .8em;
    }
    /* #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: -95px;
        width: 327px;
    } */
    
    /* #_membersDivInner{
        position: absolute;
        top: 152px;
        right: -87px;
        width: 319px;
    } */
    #businessSubHeader3{
        width: 90%; 
        margin: 0px;
        font-size: 1em;
    }
}


@media screen and (min-width: 992px) and (max-width: 1102px){
    #businessSubHeader1, #businessSubHeader2, #businessSubHeader3{
        font-size: 1.5em;
    }
    .smallSubHeader{
        width: 100%;
    } 
}

@media screen and (min-width: 931px) and (max-width: 991px){
    .img-responsive {
        position: relative;
        top: 59px;
        left: 20px;
        height: 375px;
        min-height:0%;
        width: auto;
    }
    ._headerPicDiv{
        display:flex;  
        justify-content: flex-end;
    }
    ._headerTextDiv{
        position:absolute;
    }
    #landing_sub_div{
        margin-left:20px;
    }
    .mainBusinessHeader{
        font-size: 3.9em;
        width: 80%;
        margin-top: 31px;
    }
    #businessSubHeader2{
        font-size: 1.5em;
        width: 80%;
    }
    #_searchPic{
        display: none;
    }
    #_searchPicDiv{
        flex-direction: row;
        margin-top:2em;
        margin-bottom: 2em;
    }

    #businessSubHeader1{
        width: 65%;
        font-size: 1.8em;
        letter-spacing: 1px;
    }
    .smallSubHeader{
        font-weight: 500;
        font-size: 1em;
        margin-left: 20px;
        width: 50%;  
    }
}

@media screen and (min-width: 848px) and (max-width: 930px){
    .img-responsive {
        position: relative;
        top: 59px;
        left: 20px;
        height: 355px;
        min-height:0%;
        width: auto;
    }
    ._registerBtn{
        font-size: 20px;
    }
    ._headerPicDiv{
        display:flex;  
        justify-content: flex-end;
    }
    #businessSubHeader2{
        font-size: 1.4em;
        width: 80%;
    }

    #landing_sub_div{
        margin-left:20px;
    }
    ._headerTextDiv{
        position:absolute;
    }
    .mainBusinessHeader{
        font-size: 3.25em;
        width: 80%;
        margin-top: 31px;
    }
}
@media screen and (min-width: 795px) and (max-width: 847px){
    .img-responsive {
        position: relative;
        top: 59px;
        left: 20px;
        height: 340px;
        min-height:0%;
        width: auto;
    }
    ._headerPicDiv{
        display:flex;  
        justify-content: flex-end;
    }
    ._headerTextDiv{
        position:absolute;
    }
    .mainBusinessHeader{
        font-size: 3em;
        width: 80%;
        margin-top: 31px;
    }
    #businessSubHeader2{
        font-size: 1.3em;
        /* width: 80%; */
    }
    
    #landing_sub_div{
        margin-left:20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 794px){
    .img-responsive {
        position: relative;
        top: 59px;
        left: 20px;
        height: 340px;
        min-height:0%;
        width: auto;
    }
    ._headerPicDiv{
        display:flex;  
        justify-content: flex-end;
    }
    ._headerTextDiv{
        position:absolute;
    }
    .mainBusinessHeader{
        font-size: 2.7em;
        width: 80%;
        margin-top: 31px;
    }
    #businessSubHeader2{
        font-size: 1.3em;
    }
    
    #landing_sub_div{
        margin-left:20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 767px){
    
    .img-responsive {
        position: relative;
        top: 48px;
        left: -85px;
        height: 340px;
        min-height:0%;
        width: auto;

        /* height: 260px;
        min-height:0%;
        width: auto; */
    }
    .login-register-card{
        width: 75%;
    }
    .mainBusinessHeader {
        font-size: 2.5em;
        /* width: 80%;
        margin-top: 31px; */
    }
    /* .mainBusinessHeader{
        font-size: 2.2em;
        width: 100%;
    } */
    #businessSubHeader2{
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #_landingPageUl{
        margin: 15px 0px;
        font-size: .95em;
    }
    #landing_sub_div{
        margin-left:20px;
    }
}
@media screen and (max-width: 699px){
    .login-register-card{
        width: 90%;
    }
}
@media screen and (min-width: 635px) and (max-width: 699px){
    .img-responsive {
        position: relative;
        top: 41px;
        height: 239px;
        min-height:0%;
        width: auto;
    }
    .mainBusinessHeader{
        font-size: 2.2em;
    }
    #businessSubHeader2{
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #_landingPageUl{
        margin: 10px 0px;
        font-size: .85em;
    }
    #landing_sub_div{
        margin-left:20px;
    }
}
@media screen and (min-width: 595px) and (max-width: 634px){
    .img-responsive {
        position: relative;
        top: 41px;
        right: 10px;
        height: 230px;        
        min-height:0%;
        width: auto;
    }
  
    .mainBusinessHeader{
        font-size: 2em;
    }
    #businessSubHeader2{
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #_landingPageUl{
        margin: 10px 0px;
        font-size: .85em;
    }
    #landing_sub_div{
        margin-left:0px;
    }
}
@media screen and (min-width: 424px) and (max-width: 594px){
    .mainBusinessHeader{
        font-size: 2em;
        /* width: 80%; */
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 531px) and (max-width: 594px){
    .img-responsive {
        position: relative;
        top: 41px;
        right: 40px;
        height: 220px;        
        min-height:0%;
        width: auto;
    }
  

    #businessSubHeader2{
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    #_landingPageUl{
        margin: 10px 0px;
        font-size: .76em;
    }
    #landing_sub_div{
        margin-left:0px;
    }
}

@media screen and (min-width: 424px)and (max-width: 449px){
    .img-responsive {
        position: relative;
        top: 39px;
        right: 60px;
        height: 204px;       
        min-height:0%;
        width: auto;
    } 
    .mainBusinessHeader{
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    ._registerBtn{
        font-size:15px;
    }
}


@media screen and (min-width: 450px) and (max-width: 530px){
    .img-responsive {
        position: relative;
        top: 41px;
        right: 60px;
        height: 215px;        
        min-height:0%;
        width: auto;
    } 
    .mainBusinessHeader{
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    ._registerBtn{
        font-size:15px;
    }
}

@media screen and (max-width: 530px){  
    /* .mainBusinessHeader{
        font-size: 1.5em;
        letter-spacing: 1px;
    } */
    /* #businessSubHeader2{
        font-size: 1.1em;
        letter-spacing: 1px;
    } */
    /* ._registerBtn{
        font-size:15px;
    } */
    #_landingPageUl{
        margin: 10px 0px;
        font-size: .76em;
    }
    #landing_sub_div{
        margin-left:0px;
    }
    #landingPageCol{
        padding-right:0px;
    }

}


@media screen and (max-width: 1012px){
    /* .uploadLI{
        font-size: .8em;
    } */
    .uploadUL{
        padding-left: 5px;
    }
}

@media screen and (max-width: 901px){
    .uploadLI{
        font-size: .9em;
    }
    #home_landingPage2{
        min-height: 125px;
        object-fit: fill;
    }

    /* .uploadUL{
        padding-left: 5px;
    } */
}

/* @media screen and (max-width: 767px){
    .main_sub_div{
        display:block;
    }
    .mainBusinessHeader{
        margin-top: 20px;
    }
    
} */


@media screen and (min-width: 816px) and (max-width: 930px){
    ._businessSubHeader, #_searchPic{
        display:none;
    }
    #_searchPicDiv{
        flex-direction: row;
        margin-top:2em;
        margin-bottom: 2em;
    }
    #businessSubHeader1{
        width: 65%;
        font-size: 1.8em;
    }
    .smallSubHeader{
        font-weight: 500;
        font-size: 1.1em;
        margin-left: 20px;
        width: 55%;  
    }
}
@media screen and (min-width: 767px) and (max-width: 815px){
    ._businessSubHeader, #_searchPic{
        display:none;
    }
    #_searchPicDiv{
        flex-direction: row;
        margin-top:2em;
        margin-bottom: 2em;
    }
    #businessSubHeader1{
        width: 65%;
        font-size: 1.8em;
        letter-spacing: 1px;
    }
    .smallSubHeader{
        font-weight: 500;
        font-size: 1em;
        margin-left: 20px;
        width: 50%;  
    }
}

@media screen and (min-width: 559px) and (max-width: 766px){
    ._businessSubHeader, #_searchPic{
        display:none;
    }
    #_searchPicDiv{
        flex-direction: row;
        margin-top:2em;
        margin-bottom: 2em;
    }
    #businessSubHeader1{
        width: 50%;
        font-size: 1.75em;
        letter-spacing: 1px;
    }
    .smallSubHeader{
        font-weight: 500;
        font-size: 1em;
        margin-left: 35px;
        width: 42%;  
    }
}
@media screen and (max-width: 558px){
    ._businessSubHeader, #_searchPic{
        display:none;
    }
}


@media screen and (min-width: 424px) and (max-width: 558px){
    #_searchPicDiv{
        flex-direction: row;
        margin-top:2em;
        margin-bottom: 2em;
    }

    #businessSubHeader1{
        width: 50%;
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    .smallSubHeader{
        font-weight: 500;
        font-size: .9em;
        margin-left: 35px;
        width: 42%;  
    }
}

@media screen and (min-width: 992px) and (max-width: 1059px){
    .mainBusinessHeader{
        letter-spacing: 1px;
        font-size: 2.1em;
    }
}
@media screen and (min-width: 877px) and (max-width: 991px){
    .businessPageCard{
        width: 33%;
    }
}


@media screen and (min-width: 688px) and (max-width: 876px){
    .businessCardDiv{
        flex-direction:column;
    }
    .businessPageCard{
        margin: 10px auto;
        width: 60%;
    }
}

@media screen and (min-width: 424px) and (max-width: 687px){
    .businessPageCard{
        width: 75%;
        margin: auto;
    }

    .businessCardDiv{
        flex-direction:column;
    }
}


/* // busines page // */
/* // busines page // */
/* // busines page // */


@media screen and (min-width: 991px) and (max-width: 1190px){
    .freePickUp{
        padding: 0px;
    }
}



@media screen and (min-width: 768px) and (max-width: 991px){
    .delivery-fee-col{
        padding-right:15px;
        border-right: none;
    }
    .col-form-label{
        text-align: left;
    }
    /* .deliveryFeeInput{
        border-bottom: 1px solid #8c8a8a;

    } */
}

/* @media screen and (max-width: 992px){
    #day, #open, #close{
        text-align: center;
    }
    #open, #close{
        text-align: center;
    }
} */


@media screen and (max-width: 615px){
    .li-p{
        font-size: 1rem;
    }

}
@media screen and (max-width: 574px){
    #search_zipCode{
        width: 55px;
    }
    #_mobilePhone{
        height: 283px;
    }
    .busPage-sub-header{
        font-size: 1.5rem;
        margin-bottom: .3rem;
    }
    /* #businessSubHeader3{
        width: 91vw;
        text-align: center;
    } */
    /* #zipCode{
        width: 73px;
        font-size: .95em;
        text-align: left;
    } */
    #_membersUl{
        font-size: 14px;
        width: 270px;

    }
    .error-input-zip{
        font-size: 1em;
    }

    #search_submit {
        width: 25px;
    }

    #search_zipCode, #search_category, #search_submit { 
        font-size: 85%;
        margin: 0px;
    }

    /* #_membersHeaderDiv{
        position: absolute;
        top: 8px;
        right: -98px;
        width: 327px;
    }

    #_membersDivInner{
        position: absolute;
        top: 152px;
        right: -98px;
        width: 319px;
    } */
}


@media screen and (min-width: 768px) and (max-width: 925px){
    .li-p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1035px){

    /* about */
    .aboutCard{
        margin: 10px auto;
        width: 100%;
    }
    .aboutSideCaption{
        justify-content: initial;
        margin-top: 3rem;
    }

    /* home */
    #defaultNavLogo{
        height: 100%;
        width: 11rem;
        max-width: none;
    }

    .dash-h1{
        font-size: 2rem;
    }

    .dashNavBrand{
        margin-right:0px;
    }
    .dashNavUL{
        margin-left: 1rem;

    }

    li.nav-item.navAddress{
        display: none;
    }

    .home-about-card-body{
        padding:10px;
        min-height: 11rem;
    }
    .p-home-subs{
        font-size:100%
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1185px){
    ._freeBusinessHeader{
        font-size: 1.95em;
    }

}

@media screen and (min-width: 926px) and (max-width: 991px){
    ._freeBusinessHeader{
        font-size: 2.3em;
    }

}

@media screen and (min-width: 832px) and (max-width: 925px){
    ._freeBusinessHeader{
        font-size: 2em;
    }

}

@media screen and (min-width: 768px) and (max-width: 831px){
    ._freeBusinessHeader{
        font-size: 1.8em;
    }

}


@media screen and (min-width: 685px) and (max-width: 767px){
    ._homeLI{
        font-size: 2.85vw;
    } 
    .home-business-btn{
        /* left: 46px;
        position: absolute; */
        /* width: 35%; */
        font-size: 1em;
        /* top: 169px; */
        padding: 5px;
        /* margin-left: 15vw;
        margin-top: -1vw; */
        margin-top: 1vw;

    } 
    #home_landingPage{
        width: 115%;
        right: 25px;
    }
   
}
@media screen and (min-width: 424px) and (max-width: 684px){
    ._homeUL{
        padding-left: 2.5vw;
    }
    ._homeLI{
        font-size: 3.1vw;
    } 
}

@media screen and (max-width: 684px){
    li._homeLI::marker{
        font-size: .8em;   
    }

    .home-business-btn{
        /* width: 35%; */
        font-size: .75em;
        padding: 5px;
        /* margin-left: 15vw;
        margin-top: -1vw; */
    }  
    
    #home_landingPage{
        width: 122%;
        right: 5px;
    }
    .home-business-btn{
        margin-top: -1vw;
    }

}


@media screen and (max-width: 767px){
    .main_sub_div{
        display:block;
    }
    .mainBusinessHeader{
        margin-top: 20px;
    }
    .home-mid-header{
        text-align:center;
    }
    .home-business-info{
        margin-bottom: 50px;
    }
    ._div1{
        order:2
    }
    ._div2{
        order:1;
        display: block;
        /* position: relative; */
    }
    /* ._homeUL{
        margin-top: 52px;
        margin-bottom: .8em;
    } */
    #home_landingPage{
        position: absolute;
        top: 52px;
        /* width: 110%; */
    }
    /* ._homeLI{
        font-size: 2.85vw;
        font-weight: 300;
    } */

    .dash-h1{
        font-size: 1.9rem;
    }
    .highlightCard{
        min-height:100px;
    }

    .dashNavCol{
        border-bottom: 1px solid #bcc7fc;
        border-right: none;
        padding: 0px;
    }
    .dashboard-nav{
        justify-content: center;
        flex-direction: row;
        padding: 0px;
    }
    li.nav-item.navAddress{
        display: none;
    }

    /* about page */
    .aboutCard{
        margin: 10px auto;
    }
    .dashMainHeader{
        font-size: 2rem;
    }
    .dashMainTodos{
        font-size: .9rem;
    }
   .toDoBtn{
       font-size: .75rem;
   }
}


